
.main{
    background-color: rgb(52,53,58);
}

.about{
    /* margin: 50px; */
}
.description{
    font-size: medium;
    color: white;
}
.description::before{
    content: "\2014 \2014";
    margin-right: 5px;
    color:rgb(240,191,108) ;
}
.aboutText{
    color: rgb(240,191,108);
    font-family: 'Times New Roman', Times, serif;
}
.myskillHead{
    text-align: center;
}
.myskillText{
    color: rgb(240,191,108);
    font-family:'Times New Roman', Times, serif;
}

.myskillsContainer{
    /* margin: 30px; */
    width: 70vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    row-gap: 20px;
    column-gap: 20px;
    /* flex-grow: 1; */

}
img{
    width: 30px;
    height: 30px;
}
.myskillsContainer div{
    background-color: rgb(61,62,66);
    color: white;
    text-align: center;
    padding: 20px;
    border: 1px solid rgb(61,62,66) ;
    border-radius: 5px;
    /* transition: width  5s; */
}
.flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.myskillsContainer div:hover{
    /* background-color: rgb(240,191,108); */
    box-shadow: 3px 3px 20px 5px rgb(240,191,108);
    /* height: 200px; */
    /* width: 500px; */
    /* animation: mymove 1s ; */
}
/* @keyframes mymove {
    /* from {bottom: 0px;} */
    /* to {bottom: 10px;}
  } */ 
h2.contact {
    width: 100%; 
    text-align: center; 
    border-bottom: 3px solid rgb(240,191,108); 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
 h2 span.contactspan { 
     background:rgb(52,53,58); 
     color: white;
     padding:0 10px;
     font-family: 'Times New Roman', Times, serif; 
 }
 .flexcont{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contactContainer{
   background-color:  rgb(61,62,66);

}
.email{
    border: 1px solid rgb(52,53,58);
    text-align:left;
    border-radius: 5px;
    margin: 10px;
    width: 150px;
    height: 25px;
    background-color:rgb(52,53,58) ;
    /* flex-grow: 1; */
}
.email:hover{
    box-shadow: 3px 3px 20px 3px rgb(240,191,108);
}
.emailtext{
    color: rgb(240,191,108);
    font-family: 'Times New Roman', Times, serif;
}
i{
    margin-left: 10px;
    margin-right: 10px;
}
.email a{
    text-decoration: none;
}
.myprojectsHead{
    text-align: center;
}
.myprojectsText{
    color: rgb(240,191,108);
    font-family: 'Times New Roman', Times, serif;
}
.myprojectscontainer{
    display:flex;
    justify-content: space-around;

}
h2.myskillHead {
    width: 100%; 
    text-align: center; 
    border-bottom: 3px solid rgb(240,191,108); 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
 h2 span.myskillText { 
     background:rgb(52,53,58); 
     color: rgb(240,191,108);
     padding:0 10px;
     font-family: 'Times New Roman', Times, serif; 
 }
 h2.myprojectsHead{
    width: 100%; 
    text-align: center; 
    border-bottom: 3px solid rgb(240,191,108); 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
 h2 span.myprojectsText { 
     background:rgb(52,53,58); 
     color: rgb(240,191,108);
     padding:0 10px;
     font-family: 'Times New Roman', Times, serif; 
 }
 /* div.animation{
    animation: move 8s infinite;
    animation-timing-function: linear;
 } */
 /* @keyframes move {
    from {left: 0px;}
    to {left: 200px;}
  } */

/* .myprojectscontainer div.card a :hover{

    /* box-shadow: 5px 10px 20px rgb(240,191,108); }*


/* Small screens (phones, 576px and up) */
@media (min-width: 576px) {
    .navbar-nav-scroll {
      --bs-scroll-height: unset; /* Reset scroll height */
      flex-direction: column;
      align-items: center;
    }
  
    .nav-link {
      margin: 10px 0;
    }
  
    .myskillsContainer {
      width: 90vw; 
      grid-template-columns: 1fr 1fr;
    }
  
    .myprojectscontainer {
      flex-direction: column;
      align-items: center;
    }
  }
  
  /* Medium screens (tablets, 768px and up) */
  @media (min-width: 768px) {
    .myskillsContainer {
      grid-template-columns: 1fr 1fr 1fr;
    }
  
    .myprojectscontainer {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  
  /* Large screens (desktops, 992px and up) */
  @media (min-width: 992px) {
    .myskillsContainer {
      grid-template-columns: repeat(6, 1fr);
    }
  
    .myprojectscontainer {
      flex-direction: row;
      justify-content: space-around;
    }
  }

  /* Extra small screens (phones, 575.98px and below) */
@media (max-width: 575.98px) {
    .navbar-nav-scroll {
      --bs-scroll-height: unset; /* Reset scroll height */
      flex-direction: column;
      align-items: center;
    }
  
    .nav-link {
      margin: 10px 0;
    }
  
    .myskillsContainer {
      width: 90vw; 
      grid-template-columns: 1fr 1fr;
    }
  
    .myprojectscontainer {
      flex-direction: column;
      align-items: center;
    }

    
  }
  

  h2.aboutHead{
    width: 100%; 
    text-align: center; 
    border-bottom: 3px solid rgb(240,191,108); 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
 h2 span.aboutText { 
     background:rgb(52,53,58); 
     color: rgb(240,191,108);
     padding:0 10px;
     font-family: 'Times New Roman', Times, serif; 
 }

  /* .mypic:hover{
    box-shadow: 3px 3px 20px 5px rgb(240,191,108);
  } */
  



  /* #aboutNav:hover{
      background-color :rgb(240,191,108);
      border-radius: 10px;
      color: black;
    } */




